<header class="site-header">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <span class="site-icon">
        <svg width="23" height="28" viewBox="0 0 23 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path stroke="{{ $site-title-color }}" d="M11.5 1H21.9932L11.5008 27C11.5006 27 11.5003 27 11.5 27C11.4997 27 11.4994 27 11.4992 27L1.00685 1H11.5Z" stroke="black" stroke-width="2" stroke-linejoin="round"/>
        </svg>
      </span>
    </a>
  </div>
</header>
