<header class="site-header">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <span class="site-icon">
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="36" height="36" rx="18" fill="#0A244B"/>
          <path d="M24.1875 17.4375H11.8125L18 29.25L24.1875 17.4375Z" fill="#F1D998"/>
          <path d="M16.0312 19.4062L23.625 15.75L12.375 16.875L23.625 12.9375L12.6562 14.0625L20.25 10.6875L14.3438 11.25" stroke="white" stroke-width="2.25" stroke-linejoin="bevel"/>
          </svg>
          
      </span>
    </a>
  </div>
</header>
